@import '../../stdStyles/stdBorders.scss';
@import '../../stdStyles/stdColors.scss';
@import '../../stdStyles/stdResponsiveConfig.scss';

.ScalesNavList {
	
	ul {
		padding: 0;
		margin: 0;
		
		list-style: none;
		
		li a {
			
			color: $stdSecondaryTxtColor;
			@include stdResponsiveUserTextConfig;
			
			&:hover {
				background-color: darken($stdSecondaryBackColor, 5);
			}
			
			@include stdSecondaryBorder;
			padding: 0.5em;
			margin: 0.5em 0;
			
			display:block;
			
			text-align: center;
		}
	}
	
}