@import '../../stdStyles/stdForms.scss';
@import '../../stdStyles/stdButtons.scss';
@import '../../stdStyles/stdResponsiveConfig.scss';

.RecordActionForm {
	@include stdForm;
	
	//The adding flex to the container, and not the form itself, as the form itself
	//starts to mess with the sizing of the submit, and the vertical positioning of the 
	//inputs (this is cleaner as well)
	.formContainer {
		
		display: flex;
		flex-wrap: wrap;
		
		.react-datepicker-wrapper, .react-datepicker__input-container {
			display: inline;
		}
		
		label, .TimespanFormPartial {
			display: inline-block;
		}
		
		label, input[type=submit] {
			margin: 0.5em;
		}
		
		input[type=submit] {
			@include stdPrimaryButton;
		}
		
		@media screen and (max-width: $smallScreenWidthPixels) {
			select {
				width: 100%;
			}
		}
	}
}