@import '../../stdStyles/stdCard.scss';

.EditableItemCard {
	@include stdCard;
	
	span {
		font-size: 1.5em;
	}
	
	position: relative;
	
	button {
		font-size: large;
		position: absolute;
		bottom: 1.5em;
	}
}