@import '../../stdStyles/stdCard.scss';
@import '../../stdStyles/stdButtons.scss';

.EditableItemCard {
	@include stdCard;
	
	span {
		font-size: 1.5em;
	}
	
	// Position relative on the parent will allow us to put the child to the bottom of the div
	position: relative;
	button {
		@include stdPrimaryButton;
		font-size: large;
		position: absolute;
		bottom: 1.5em;
	}
}