@import '../../stdStyles/stdBorders.scss';

.ScaleBalanceDisplay {
	
	@include stdSecondaryBorder;
	
	display: flex;
	padding: 0.35em;
	width: 100%;
	box-sizing: border-box;
	
	.scaleBalanceItem {
		overflow: hidden;
		font-size: small;
		
		padding: 0.5em;
		padding-left: 0.75em;
		
		//Allow the item to be smaller than its content
		min-width: 0;
		flex-basis: 0;
		height: 2em;
	}
	
	
	//Border curves for the first and last items
	$itemsBorderRadius: 1vw;
	
	& > .scaleBalanceItem:first-child {
		border-top-left-radius: $itemsBorderRadius;
		border-bottom-left-radius: $itemsBorderRadius;
	}
	
	& > .scaleBalanceItem:last-child {
		border-top-right-radius: $itemsBorderRadius;
		border-bottom-right-radius: $itemsBorderRadius;
	}
	
}