@import '../../stdStyles/stdColors.scss';
@import '../../stdStyles/stdBorders.scss';

.CardDisplay {
	
	color: $stdSecondaryTxtColor;
	background-color: $stdSecondaryBackColor;
	@include stdSecondaryBorder;
	
	font-weight: 600;
	text-align: center;
	
	padding: 1em;
	min-height: 5em;
	
}