@import '../../stdStyles/stdColors.scss';
@import '../../stdStyles/stdBorders.scss';

.CardDisplay {
	
	color: $stdSecondaryTxtColor;
	background-color: $stdSecondaryBackColor;
	@include stdSecondaryBorder;
	
	display: flex;
	flex-wrap: wrap;
	
	& > * {
		margin: 0.25em;
	}
	
	.emptyDisplayMessage {
		font-weight: 600;
		width: 100%;
		text-align: center;
		display: inline-block;
	}
	
	box-sizing: border-box;
	padding: 1em;
	min-height: 5em;
	
}