@import '../../stdStyles/stdColors.scss';
@import '../../stdStyles/stdBorders.scss';


.App {
	.displayTest {
		margin: 1em;
		padding: 1em;
		width: 50%;
		height: 50%;
		
		h1 {
			padding: 1em;
			color: $stdPrimaryTxtColor;
			background-color: $stdPrimaryBackColor;
			@include stdPrimaryBorder;
		}
		
		p {
			padding: 1em;
			color: $stdSecondaryTxtColor;
			background-color: $stdSecondaryBackColor;
			@include stdSecondaryBorder;
		}
	}
}