@import '../../stdStyles/stdBorders.scss';

.CategoryDetailsFormPartial {
	
	.categoryColorInputLabel select {
		border: 3px solid black; //Color should be replaced by the category color, by the javascript
		outline:none; //This removes black outline, which would be seen on focus
		padding: 0.25em;
	}
	
}