@import '../../stdStyles/stdColors.scss';

$background: darken($stdSecondaryBackColor, 50);

.DropdownContentBar {
	
	width: 100%;
	
	.dropdownBarHead {
		
		background-color: $background;
		color: white;
		
		height: 1em;
		
		font-size: 3em;
		text-align: right;
		padding-right: 0.5em;
		
		svg {
			cursor: pointer;
		}
	}
	
	.dropdownContent {
		
		background-color: $background;
		
		$borderBottomRadius: 1vw;
		border: 1px solid $background;
		border-bottom-left-radius: $borderBottomRadius;
		border-bottom-right-radius: $borderBottomRadius;
		
		padding: 0.25em;
	}
	
	.contentHidden {
		//Hide the content, while keeping the width for the whole component
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		overflow: hidden;
		
		//Now hide any children, as cypress's not.be.visible will not work unless they're hidden
		& > * {
			display: none;
		}
	}
	
}