@import '../../stdStyles/stdColors.scss';
@import '../../stdStyles/stdBorders.scss';

.RequestPasswordForm {
	
	@include stdPrimaryBorder;
	padding: 1em;
	
	color: $stdPrimaryTxtColor;
	background-color: $stdPrimaryBackColor;
	
	input {
		margin: 0.75em auto;
	}
	
}