@import '../../stdStyles/stdBorders.scss';
@import '../../stdStyles/stdColors.scss';
@import '../../stdStyles/stdButtons.scss';
@import '../../stdStyles/stdResponsiveConfig.scss';

.AmendActionHistoryPage {
	
	margin: 0.5em;
	padding: 0.5em;
	
	min-height: 70vh;
	
	@include stdPrimaryBorder;
	color: $stdPrimaryTxtColor;
	background-color: $stdPrimaryBackColor;
	
	button {
		@include stdPrimaryButton;
	}
	
	header {
		margin: 0.75em 1em;
		@include stdResponsiveUserTextConfig;
	}
	
	.historyItemsArea {
		
		@include stdSecondaryBorder;
		
		min-height: 70vh;
		
		margin-top: 0.5em; //Stops it colliding with the RecordActionForm for new actions
		
		.ActionHistoryItem {
			margin: 1em;
		}
		
		.noHistoryItemsMessage {
			display: inline-block;
			font-weight:600;
			margin: 2em;
		}
		
	}
}