@import './stdColors.scss';
@import './stdBorders.scss';

@mixin stdPrimaryButton {
	font-weight: bold;
	font-size: 1em;
	padding: 0.35em;
	
	@include stdBorder($stdSecondaryTxtColor, 2px);
	color: $stdSecondaryTxtColor;
	background-color: $stdSecondaryBackColor;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor:pointer;
	
	&:disabled {
		$disabledColor: scale-color($stdSecondaryTxtColor, $lightness: +40%);
		
		border-color: $disabledColor;
		color: $disabledColor;
	}
}