@import './stdColors.scss';
@import './stdBorders.scss';

@mixin stdForm {
	
	@include stdPrimaryBorder;
	padding: 1em;
	
	color: $stdPrimaryTxtColor;
	background-color: $stdPrimaryBackColor;
	
	input {
		margin: 0.25em auto;
	}
	
	input[type=submit] {
		margin-top: 1.5em;
	}
	
	input[type=submit], button {
		margin-right: 0.5em;
	}
	
	.SaveMessage {
		margin: 0.5em 0;
	}
	
}

@mixin stdInnerForm {
	
	@include stdForm;
	
	@include stdSecondaryBorder;
	padding: 1em;
	
	color: $stdSecondaryTxtColor;
	background-color: $stdSecondaryBackColor;
	
}