@import './stdColors.scss';
@import './stdBorders.scss';
@import './stdResponsiveConfig.scss';

@mixin stdForm {
	
	@include stdPrimaryBorder;
	padding: 1em;
	
	color: $stdPrimaryTxtColor;
	background-color: $stdPrimaryBackColor;
	
	input {
		margin: 0.25em auto;
	}
	
	input[type=submit] {
		margin-top: 1.5em;
	}
	
	input[type=submit], button {
		margin-right: 0.5em;
	}
	
	.SaveMessage {
		margin: 0.5em 0;
	}
	
	.ErrorMessageDisplay {
		margin: 0.5em 0;
	}
	
	@media only screen and (max-width: $smallScreenWidthPixels) {
			
		input:not(input[type=submit]), .react-datepicker-wrapper, .react-datepicker__input-container {
			margin: 0 !important;
		}
		
		
		label {
			display: block;
			margin: 0.1em 0.25em;
		}
	}
	
}

@mixin stdInnerForm {
	
	@include stdForm;
	
	@include stdSecondaryBorder;
	padding: 1em;
	
	color: $stdSecondaryTxtColor;
	background-color: $stdSecondaryBackColor;
	
}