@import './stdResponsiveConfig.scss';


@mixin stdPercentageStatistic {
	
	@include stdResponsiveUserTextConfig;
	
	.statisticLabel {
		font-weight: bold;
	}
	
	ul {
		margin-bottom: 1em;
	}
	
	li {
		margin: 0.25em 0;
	}
	
}