@import '../../stdStyles/stdBorders.scss';
@import '../../stdStyles/stdColors.scss';

.ActionHistoryItem {
	
	@include stdSecondaryBorder;
	background-color: $stdSecondaryBackColor;
	color: $stdSecondaryTxtColor;
	
	padding: 1em;
	
	.historyItemDetailsContainer {
		display: flex;
		flex-wrap: wrap;
		
		 //The height of the container is based on the button, so center the text within that height
		align-items: center;
		
		& > * {
			margin: 1em;
		}
		
		.itemInfoLabel {
			font-weight: bold;
		}
	}
	
}