@import '../../stdStyles/stdBorders.scss';
@import '../../stdStyles/stdColors.scss';
@import '../../stdStyles/stdResponsiveConfig.scss';

.ActionHistoryItem {
	
	@include stdSecondaryBorder;
	background-color: $stdSecondaryBackColor;
	color: $stdSecondaryTxtColor;
	
	
	.historyItemDetailsContainer {
		
		display: flex;
		flex-wrap: wrap;
		
		 //The height of the container is based on the button, so center the text within that height
		align-items: center;
		
		& > * {
			margin: 1em;
		}
		margin: 1em;
		
		.itemCategoryNameDisplay, .itemActionNameDisplay {
			@include stdResponsiveUserTextConfig;
			@media screen and (max-width: $smallScreenWidthPixels)
			{
				width: 90%;
			}
			
		}
		
		.itemInfoLabel {
			font-weight: bold;
		}
	}
	
}