@import '../../stdStyles/stdForms.scss';
@import '../../stdStyles/stdButtons.scss';

.UserDetailsForm {
	@include stdForm;
	
	margin: 1em;
	
	min-height: 50vh;
	
	.passwordFormArea {
		margin: 2em 0;
	}
	
	input[type=submit] {
		@include stdPrimaryButton;
		margin-top: 0.25em;
	}
	
}