@import '../../stdStyles/stdBorders.scss';
@import '../../stdStyles/stdColors.scss';

.UserNavBar {
	
	padding: 0.5em;
	width: 100%;
	box-sizing: border-box;
	
	background-color: $stdSecondaryBackColor;
	color: $stdPrimaryTxtColor;
	
	@include stdPrimaryBorder;
	
	.stdLink {
		@include stdSecondaryBorder;
		color: $stdSecondaryTxtColor;
		text-decoration: underline; //Logout is not an anchor/link, so setting this explicitly
		background-color: darken($stdSecondaryBackColor, 5);
		padding: 0.5em;
		margin: 0.5em 0;
		display:block;
		text-align: center;
		
		cursor: pointer;
		
		&:hover {
			background-color: darken($stdSecondaryBackColor, 10);
		}
	}
	
	hr {
		border-top: 2px solid $stdPrimaryBorderColor;
	}
	
}