@import '../../../stdStyles/stdForms.scss';
@import '../../../stdStyles/stdButtons.scss';

$fontSize: 1.25rem;

.LoginForm {
	@include stdForm;
	
	font-size: $fontSize;
	
	width: fit-content;
	box-sizing: border-box;
	
	margin: 5vw;
	
	input {
		font-size: $fontSize;
	}
	
	input[type=email], input[type=password] {
		width: 100%;
		box-sizing: border-box;
	}
	
	label {
		width: 100%;
		box-sizing: border-box;
	}
	
	input[type=submit] {
		@include stdPrimaryButton;
	}
}