@import '../../../stdStyles/stdCard.scss';

.AddItemCard {
	cursor: pointer;
	
	width: fit-content;
	box-sizing: content-box;
	
	@media (max-width: $cardSmallScreenWidthPixels) {
		width: 100%;
	}
}

.addItemCardContent {
	@include stdCard;
	
	span {
		@include stdCardSingleCharacterSpan;
	}
	
	@media (max-width: $cardSmallScreenWidthPixels) {
		width: initial;
	}
	
}